<footer>
  &copy; 2017-2020 Red Hat, Inc. This website is licensed under <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/" class="license"><img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a> and the code lives in <a href="https://gitlab.com/osci/osci.io">gitlab.com/osci/osci.io</a>.
</footer>
