{% assign post = include.post | default: page %}
{% assign excerpt = include.excerpt | default: false %}
{% assign link_title = include.link | default: false %}
{% assign author_card = include.author_card | default: false %}
{% assign author = site.data.authors[post.author] %}
{% assign separator = site.excerpt_separator | prepend: "<p>" | append: "</p>" %}
{% assign summary_length = site.blog_summary_length | default: 50 %}
{% assign ignore = include.ignore | default: site.blog_ignore | split: ',' %}
{% assign summary_headings = site.blog_summary_headings %}
{% assign newline = '
' %}

<article class="post hentry" id="{{ post.url | replace: "/", "-" }}">
  <header class="post-header">
    <h2 class="post-title entry-title">
      {% if link_title %}
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
      {% else %}
        {{ post.title | escape }}
      {% endif %}
    </h2>
    <header class="post-meta">
      {% if post.author %}
        {% if author %}
          <span class="byline">
            by
            <span class="author vcard">
              <a href="{{ site.baseurl }}/blog/authors#{{ post.author }}">{{ author.name }}</a>
            </span>
          </span>
        {% else %}
          <span class="byline">
            by
            <span class="author vcard">
              {{ post.author }}
            </span>
          </span>
        {% endif %}
        –
      {% endif %}
      <time class="published" datetime="{{ post.date | date: "%u" }}">
        {{ post.date | date: "%b %-d, %Y" }}
      </time>
    </header>
  </header>

  {% assign content_stripped = '' %}
  {% assign content_headings = '' %}
  {% assign content_lines = post.excerpt | split: newline %}
  {% for line in content_lines %}
    {% assign skip = ignore
    | where_exp: "item", "line contains item"
    | join: ''
    | strip
    %}
    {% if skip == '' %}
      {% if line contains '<h' %}
        {% assign content_headings = line 
        | strip_html 
        | prepend: '- ' 
        | prepend: newline 
        | prepend: content_headings
        %}
        {% assign content_stripped = content_stripped
        | append: line
        | append: newline
        %}
      {% else %}
        {% assign content_stripped = line 
        | strip_html 
        | prepend: content_stripped
        %}
      {% endif %}
    {% endif %}
  {% endfor %}

  <section class="post-content entry-content">
    {% if excerpt %}
      {% if summary_headings and content_headings != '' %}
        {{ content_headings | markdownify }}
      {% else %}
        {{ content_stripped | truncatewords: summary_length }}
      {% endif %}
    {% else %}
      {{ post.content | remove_first: separator }}
    {% endif %}
  </section>

  {% if excerpt %}
    <footer class="post-meta">
      <a class="more-link read-more" href="{{ post.url | prepend: site.baseurl}}">Read More »</a>
    </footer>
  {% endif %}

</article>

{% if author_card %}
  <div class="author-info author-card" id="author-info">
    <h2>About {{ author.name }}</h2>
    <div class="author-blurb">
      {{ author.description | markdownify }}

      <div class="more-link">
        <a href="{{ site.baseurl }}/blog/authors#{{ post.author }}">
          View all posts by {{ author.name }} »
        </a>
      </div>

      {% if author.twitter or author.googleplus or author.facebook %}
        <div class="follow-on">
          Follow {{ author.name | split: " " | first }} on:
          {% if author.twitter %}
            <a class="icon-twitter" href="https://twitter.com/{{ author.twitter }}">Twitter</a>
          {% endif %}
          {% if author.googleplus %}
            <a class="icon-googleplus" href="https://plus.google.com/+{{ author.googleplus }}">Google+</a>
          {% endif %}
          {% if author.facebook %}
            <a class="icon-facebook" href="https://facebook.com/{{ author.facebook }}">Facebook</a>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}